<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <!--get stat ids from here:-->
        <!-- https://www.repeaterbook.com/repeaters/index.php?state_id=none -->
        <!--use commas with no spaces to add more-->
        <add key="RB_StateCode" value="01,05,13,28,40,47,48"/>
    </appSettings>
</configuration>